.projects-container {
    margin: 0 10% 0 10%;
    display: flex;
    flex-direction: column;

}

.projectbox-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    align-self: center;
}